<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Dashboard - Indicadores de Tiempo</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/tableExport/css/tableexport.css' %}">
    <style>
        .img-fluid {
            max-width: 100%;
            height: 70px;
        }
        .navbar-light .navbar-text {
            color: rgb(0, 82, 155);
            font-weight: 600;
        }
        @media (min-width: 992px) {
            .navbar-expand-lg {
                justify-content: space-between;
            }
        }

        .head-color{
            background: rgb(0, 82, 155);
            color: white;
        }
        .head-color th{
            padding: 20px;
            border-left: 0.5px solid #ddd;
            border-right: 0.5px solid #ddd;
        }
        .main-table {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
            display: table-cell;
        }
        .semaforo{
            width: 10px;
        }
        .meses{
            width: 310px;
            text-align: center;
        }
        .row-color td{
            border: 0.5px solid rgb(0, 82, 155);
        }
        .indicador div{
            width: 220px;
        }
        .center{
            text-align: center;
            border: 0.5px solid #ddd;
            padding: 5px;
        }
        tbody td{
            padding: 5px;
        }

        .table-scroll {
            position:relative;
            max-width:98%;
            margin:auto;
            overflow:hidden;
        }
        .table-wrap {
            width:100%;
            overflow:auto;
        }
        .table-scroll table {
            width:100%;
            margin:auto;
            border-collapse:separate;
            border-spacing:0;
        }

        .clone {
            position:absolute;
            top:0;
            left:0;
            pointer-events:none;
        }
        .clone th, .clone td {
            visibility:hidden
        }
        .clone td, .clone th {
            border-color:transparent
        }
        .clone tbody th {
            visibility:visible;
            color:red;
        }
        .clone .fixed-side {
            border: 0.5px solid rgb(0, 82, 155);
            background:white;
            visibility:visible;
        }
        select{
                border: 1px solid skyblue;
                border-radius: 5px;
                padding: 3px;
        }
        hr{
            border: 0.5px solid skyblue;
        }

        .clone thead, .clone tfoot{background:transparent;}

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="height: 80px; background-color: #f5fdfd;" >
  <a class="navbar-brand" href="#"><img class="img-fluid" height="70px" src="{% static 'home/img/bbva.png'%}" alt=""></a>
  <div >
      <h2 class="navbar-text">
          Indicadores de Tiempo - Resumen
      </h2>
  </div>
</nav>
<hr>
<div class="row text-color" align="center" >
    <div class="col-md-12 col-sm-12" align="left">
        <strong>
            <h5>Dashboard: </h5>
        </strong>
    </div>
    <form action="" method="get" class="col-md-12 col-sm-12">
        <input type="hidden" name="tipo_tiempo" value="{{ request.GET.tipo_tiempo }}">
        <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 ">
        {% load smooth_timedelta %}
            <strong><label for="">Oficinas: </label></strong>
            <select name="oficina" onchange="this.form.submit()" >
                <option value="">--> Seleccione una Oficina <---</option>
                {% for ofi in oficinas %}
                    <option
                            {% if ofi.codigo_oficina  == request.GET.oficina %}
                                    selected
                            {% endif %}
                            value="{{ ofi.codigo_oficina }}">{{ ofi.oficina }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <strong><label for="">Años: </label></strong>
            <select name="anio" onchange="this.form.submit()">
                <option value="">--> Seleccione Año <---</option>
                {% for an in anios %}
                    <option
                            {% if an.0|stringformat:"i"  == request.GET.anio %}
                                    selected
                            {% endif %}
                            value="{{ an.0 }}">{{ an.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <strong><label for="">Meses: </label></strong>
            <select name="mes" onchange="this.form.submit()">
                <option value="">--> Seleccione Mes <---</option>
                {% for me in meses_list %}
                    <option
                            {% if me.idmes|stringformat:"i"  == request.GET.mes %}
                                    selected
                            {% endif %}
                            value="{{ me.idmes }}">{{me.mes|title}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <strong><label for="">Días: </label></strong>
            <select name="dia" onchange="this.form.submit()">
                <option value="">--> Seleccione Semana <---</option>
                {% for se in dias_list %}
                    <option
                            {% if se.0|stringformat:"i"  == request.GET.dia %}
                                    selected
                            {% endif %}
                            value="{{ se.0 }}">{{se.1|title}}</option>
                {% endfor %}
            </select>
        </div>
        <!--<div class="col-md-2">
            <strong><label for="">Días: </label></strong>
            <select name="dia" onchange="this.form.submit()">
                {% for di in dias %}
                    <option
                            {% if di.0 == request.GET.dia|stringformat:"i" %}
                                    selected
                            {% endif %}
                            value="{{ di.0 }}">{{di.0}}</option>
                {% endfor %}
            </select>
        </div>
        -->
        </div>
    </form>
</div>
<hr>
<div id="table-scroll" class="table-scroll">
    <div class="table-wrap">
    <table class="main-table">
        <thead class="head-color">
            <tr>
                <th rowspan="2" class="fixed-side" style="background: rgb(0, 82, 155); color: white; border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; text-align: left; vertical-align: bottom;  ">Operativa</th>
                <th rowspan="2" class="indicador fixed-side" style="background: rgb(0, 82, 155); color: white; border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; text-align: left; vertical-align: bottom;  ">Indicador</th>
                <th class="fixed-side" style="background: rgb(0, 82, 155); color: white; border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; text-align: left; vertical-align: bottom;  ">Objetivo</th>
                <th rowspan="2" class="semaforo fixed-side" style="background: rgb(0, 82, 155); color: white; border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; text-align: left; vertical-align: bottom;  "></th>
                {% for mes in meses %}
                    <th class="meses" colspan="{{ mes.cant }}">{{ mes.mes|title }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td class="center fixed-side"
                    style="background: rgb(0, 82, 155); color: white; border-left: 1px solid #ddd;
                    border-top: 1px solid #ddd;
            border-right: 1px solid #ddd; vertical-align: bottom;  ">90%</td>
                {% for mes in meses %}
                    {% for dia in mes.dias %}
                        <td class="center" >{{ dia.dia|title }}, {{ dia.iddia }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody class="row-color">
            {% for nl in new_list %}
                <tr>
                    {% if  nl.operativa  %}
                        <td rowspan="{{ nl.cant }}" class="fixed-side">
                            <strong>{{ nl.operativa }}</strong>
                        </td>
                    {% endif %}
                    <td class="indicador fixed-side">
                        <div><a href="" onclick="alert('por implementar')">{{ nl.tipo }}</a></div>
                    </td>
                    <td class="long center fixed-side">
                        {{ nl.p90 }}
                    </td>

                    <td class="semaforo fixed-side" style="background: {{ nl.color }}"></td>

                    {% for bd in nl.by_dias %}
                        {% if bd %}
                            <td class="center">{{ bd|smooth_timedelta }}</td>
                        {% else %}
                            <td class="center"> - </td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
    </table>
    </div>
</div>
<!--JS-->
<script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'home/tableExport/js/xlsx.core.min.js' %}"></script>
<script src="{% static 'home/tableExport/js/Blob.min.js' %}"></script>
<script src="{% static 'home/tableExport/js/FileSaver.min.js' %}"></script>
<script src="{% static 'home/tableExport/js/tableexport.js' %}"></script>


<script>
jQuery(document).ready(function() {
    $(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');
    $(".main-table").tableExport({
        formats: ["xlsx"],                 // (String[]), filetypes for the export
        headers: true,                    // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                     // (Boolean), display table footers (th/td elements) in the <tfoot>
        bootstrap: true,                   // (Boolean), style buttons using bootstrap
        position: "top",                // (top, bottom), position of the caption element relative to table
        filename: "Dashboard-Times",
        sheetname: "Dashboard",
         RTL: true,
    });
$('.xlsx').text('Exportar a Excel');
 });

</script>

</body>
</html>