<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Detalle Operativa</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
    <!--Table result-->
            <table class="table table-hover table-bordered table-striped table-sm text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col" colspan="1">Fecha</th>
                  <th scope="col" colspan="1">Tramo</th>
                  <th scope="col" colspan="2">T. Parcial</th>
                  <th scope="col" colspan="2">Ini</th>
                  <th scope="col" colspan="2">Fin</th>
                  <th scope="col" colspan="2">Reserv.</th>
                  <th scope="col" colspan="2">Tx/Ventana</th>
                  <th scope="col" colspan="4">Detalle</th>
                </tr>
              </thead>
              <tbody>
                {% for det_operativa in detalle_operativa %}
                <tr>
                  <th scope="row" colspan="1">{{ det_operativa.fecha }}</th>
                  <th scope="row" colspan="1">{{ det_operativa.iter_tramo }}</th>
                  <td colspan="2">{{ det_operativa.tiempo_parcial }}</td>
                  <td colspan="2">{{ det_operativa.hora_inicio }}</td>
                  <td colspan="2">{{ det_operativa.hora_fin }}</td>
                  <td colspan="2">{{ det_operativa.hora_palabra_reservada }}</td>
                  <td colspan="2">{{ det_operativa.codigo_ventana_tx }}</td>
                  <td colspan="4">{{ det_operativa.detalle_ventana_tx }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!--Fin Table result-->
            <!--Fin Mostrar registros de resumen_operativas-->

    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>

</body>
</html>