<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Lista Operaciones</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
<h2 align="center">Detalle de Operativas</h2> <br>
    <!--Table result-->
            <table class="table table-hover table-bordered table-striped table-sm text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col" colspan="1">#</th>
                  <th scope="col" colspan="2">Tx/Ventana</th>
                  <th scope="col" colspan="4">Detalle</th>
                </tr>
              </thead>
              <tbody>
                {% for det_operativa in detalle_operativa %}{% for i in rango %}
                <tr>
                  {% if forloop.counter == forloop.parentloop.counter %}
                  <th scope="row" colspan="1">{{ i }}</th>
                  <td colspan="2">{{ det_operativa.codigo_ventana_tx }}</td>
                  <td colspan="4">{{ det_operativa.detalle_ventana_tx }}</td>
                  {% endif %}
                </tr>
                {% endfor %}{% endfor %}
              </tbody>
            </table>
            <!--Fin Table result-->
            <!--Fin Mostrar registros de resumen_operativas-->

    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>

</body>
</html>