<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reporte por Oficinas</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
<div class="container">
        <p>
            <h1 align="center">Reporte por Oficinas</h1>
        </p>

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Oficinas</th>
                    <th>Cantidad de Flujos Correctos</th>
                    <th>Cantidad de Flujos InCorrectos</th>
                </tr>
            </thead>
            <tbody>
                {% for operativa in resumen %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="oficina/{{ operativa.oficina.0 }}">{{ operativa.oficina.1 }}</a></td>
                        <td>{{ operativa.correctos }}</td>
                        <td>{{ operativa.incorrectos }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
</div>
    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>