<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reporte de la Oficina</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
<div class="container">
    <p>
        <h1 align="center">Reporte de la Oficina: {{ oficina.0.oficina }}</h1>

    <a href="/oficina/?oficina={{ oficina.0.codigo_oficina }}">Ver Resumen de Operativas</a><br>

    <ul>
        <li>
            <a href="{{ oficina.0.codigo_oficina }}/tiempo_sistema/">Tiempo Sistema</a>

        </li>
        <li>
            <a href="{{ oficina.0.codigo_oficina }}/tiempo_operativa/">Tiempo Operativa</a>

        </li>
        <li>
            <a href="{{ oficina.0.codigo_oficina }}/tiempo_usuario/">Tiempo Usuario</a>

        </li>
        <li>
            <a href="{{ oficina.0.codigo_oficina }}/tiempo_escenario/">Tiempo de Escenario</a>

        </li>
    </ul>

</div>
    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>