<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reporte Tiempos de Operativas</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
<div class="container">
        <p>
            <h1 align="center">Resumen Operativas</h1>
            <h3>Tiempos de operativas</h3>
        </p>
        <a href="resumen_operativas/subflujo/">Resumen Detallado Operativas de Subflujo</a> /
        <a href="detalle_operativas/">Operativas Encontradas</a> <hr>

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Oficina/Puesto</th>
                    <th>Nombre de Operativa</th>
                    <th>Fecha</th>
                    <th>Hora de Inicio</th>
                    <th>Hora fin </th>
                    <th>Tiempo de Operativa</th>
                    <th>Nombre del Flujo</th>
                </tr>
            </thead>
            <tbody>
                {% for operativa in resumen_operativas %}
                    <tr>
                        <td>{{ operativa.codigo_oficina }} / {{ operativa.puesto }}</td>
                        <td>{{ operativa.nombre_operativa }}</td>
                        <td>{{ operativa.fecha }}</td>
                        <td>{{ operativa.hora_inicio }}</td>
                        <td>{{ operativa.hora_fin }}</td>
                        <td>{{ operativa.tiempo_operativa }}</td>
                        <td>{{ operativa.nombre_flujo }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
</div>
    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>