<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reporte2</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
<div class="container">
    <p>
        <h1 align="center">Reporte General</h1>
    </p>
    <ul>
        <li>
            <a href="tiempo_sistema/">Tiempo Sistema</a>

        </li>
        <li>
            <a href="tiempo_operativa/">Tiempo Operativa</a>

        </li>
        <li>
            <a href="tiempo_usuario/">Tiempo Usuario</a>

        </li>
        <li>
            <a href="tiempo_escenario/">Tiempo de Escenario</a>

        </li>
    </ul>

</div>
    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>