
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Reporte de la Oficina</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
</head>
<body>
<div class="container">
    <h1 align="center">REPORTE DE {{ tipo|upper }}</h1> <br>

    {% for ff in flujos %}
        <p>
            <h4 >Oficina N° {{ forloop.counter }}: {{ ff.oficina }}</h4>
        </p>
        <br>

        {% for o in ff.suboperativas %}
        <p><strong>{{ o.operativa }}</strong></p>
        <table class="table table-hover table-bordered table-striped table-sm text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" align="left"></th>
                      {% for c in columnas %}
                          <th align="left"><strong>{{ c }}</strong></th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for sb in o.suboperativas %}
                    <tr>
                        <td  scope="row" align="left"><strong>{{ sb.suboperativa }}</strong></td>
                        {% for co in sb.columnas %}
                            <td>{{ co }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
        </table>
        {% endfor %}
        *La hora está en Percentil 90
        <hr>
        <br>
{% endfor %}
</div>
    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>