<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Resumen de Operativas</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">

</head>
<body>
<br>
<h2 align="center">Resumen operativas - oficina {{ oficina.0.oficina }} </h2> <br>
            <!--Table result-->
            <form action="" method="get" class="col-2">
                <input type="hidden" name="oficina" value="{{ oficina.0.codigo_oficina }}">
                <label for="">Fechas: </label>
                <select name="fecha" class="form-control" id="" onchange="this.form.submit()">
                    {% for f in fechas %}
                        <option {% if f.fecha|date:'Y-m-d' == fecha|date:'Y-m-d' %}
                                    selected
                                {% endif %}
                                value="{{ f.fecha|date:'Y-m-d' }}">{{ f.fecha|date:'d-m-Y' }}</option>
                    {% endfor %}
                </select>
            </form>

            <table class="table table-hover table-bordered table-striped table-sm text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col" ></th>
                  <th scope="col" ></th>
                  <th scope="col" colspan="4">Tiempo Sistema</th>
                  <th scope="col" colspan="4">Tiempo Operativa</th>
                  <th scope="col" colspan="4">Tiempo Usuario</th>
                  <th scope="col" colspan="4">Tiempo de Escenario</th>
                  <th scope="col" colspan="2    ">Volumetría</th>
                </tr>
              </thead>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" >Flujo</th>
                  {% for i in rango %}
                      <th scope="col">Min</th>
                      <th scope="col">Avg</th>
                      <th scope="col">Max</th>
                      <th scope="col">Perc. 90</th>
                  {% endfor %}
                  <th scope="col">Total</th>
                  <th scope="col">Porcentaje</th>
                </tr>
              </thead>
              <tbody>
                {% for resumen_operativas in resumen_operativas_xflujos %}
                <tr>
                  <td scope="row">{{ resumen_operativas.indice }}</td>
                  <td scope="row" align="left">
                      <a href="/resumen_operativas/subflujo/{{resumen_operativas.nombre_flujo}}?oficina={{ oficina.0.codigo_oficina }}&fecha={{ fecha|date:'Y-m-d' }}">{{ resumen_operativas.nombre_flujo }}</a>
                  </td>
                {% for dato_calculado in resumen_operativas.datos_calculados %}
                  <td bgcolor="#f0ffff">{{ dato_calculado.min }}</td>
                  <td>{{ dato_calculado.avg }}</td>
                  <td>{{ dato_calculado.max }}</td>
                  <td>{{ dato_calculado.percentile }}</td>
                {% endfor %}
                  <td>{{ resumen_operativas.datos.count}}</td>
                <td>{{ resumen_operativas.percent }} % </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!--Fin Table result-->
            <!--Fin Mostrar registros de resumen_operativas-->


    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>