<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Listas de Resumen de Operativas</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">

</head>
<body>
            <div>
                <h2>{{ data_general.subflujo }}</h2>
                <span>Cantidad: {{ data_general.rango }}</span>
                {% if data_general.fecha %}
                    <span>/ Fecha: {{ data_general.fecha }}</span>
                {% endif %}
                {% if data_general.codigo_operativa %}
                    <span>/ Codigo Operativa: {{ data_general.codigo_operativa }}</span>
                {% endif %}
            </div>
            <!--Table result-->
            <table class="table table-hover table-bordered table-striped table-sm text-center">
              <thead class="thead-light">
                <tr>
                  <th scope="col" colspan="2">Indice</th>
                  <th scope="col" colspan="2">Flujo</th>
                  <th scope="col" colspan="2">Fecha</th>
                  <th scope="col" colspan="2">Hora de Inicio</th>
                  <th scope="col" colspan="2">Hora de Fin</th>
                  <th scope="col" colspan="2">Tiempo Operativa</th>
                  <th scope="col" colspan="2">Tiempo Sistema</th>
                  <th scope="col" colspan="2">Tiempo Disponible</th>
                  <th scope="col" colspan="2">Tiempo Usuario</th>
                  <th scope="col" colspan="2">Tiempo Disponible Neto</th>
                  <th scope="col" colspan="2">Tiempo Disponible Real</th>
                  <th scope="col" colspan="2">Tiempo Disponible A</th>
                  <th scope="col" colspan="2">Tiempo Disponible B</th>
                </tr>
              </thead>
              <tbody>
                {% for resumen_operativa in resumen_operativas_flujo %}{% for i in rango %}
                <tr>
                {% if forloop.counter == forloop.parentloop.counter %}
                  <th scope="row" colspan="2"><a href="/detalle_operativas/{{ resumen_operativa.identificador }}?fecha={{ resumen_operativa.fecha|date:'Y-m-d' }}" target="_blank">{{ i}} - {{ resumen_operativa.identificador }}</a></th>
                  <td scope="row" colspan="2">{{ resumen_operativa.nombre_flujo }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.fecha }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.hora_inicio }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.hora_fin }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_operativa }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_sistema }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_disponible }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_usuario }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_disponible_neto }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_disponible_real}}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_disponible_real_a }}</td>
                  <td scope="row" colspan="2">{{ resumen_operativa.tiempo_disponible_real_b }}</td>
                {% endif %}
                </tr>
                {% endfor %}{% endfor %}
              </tbody>
            </table>
            <!--Fin Table result-->
            <!--Fin Mostrar registros de resumen_operativas-->


    <!--JS-->
    <script src="{% static 'home/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'home/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>